# JELLYFIN FILES
jellyfin/cache/*
jellyfin/config/*

# QBITTORRENT FILES
qbittorrent/config/*
!qbittorrent/config/.gitkeep

# GLUETUN FILES
gluetun/*
!gluetun/.gitkeep

# RADARR FILES
radarr/*
!radarr/config/.gitkeep

# SONARR FILES
sonarr/**
!sonarr/**/
!sonarr/config/.gitkeep

# PROWLARR FILES
prowlarr/config/*
!prowlarr/config/.gitkeep

# JELLYSEER FILES
jellyseerr/config/*
!jellyseerr/config/.gitkeep

bazarr/config/*
!bazarr/config/.gitkeep

# DATA FOLDERS SHARED BY SERVICES
data/media/**
!data/media/**/
!data/media/.gitkeep
!data/media/movies/.gitkeep
!data/media/tv/.gitkeep
!data/media/music/.gitkeep
data/torrents/**
!data/torrents/**/
!data/torrents/.gitkeep
!data/torrents/movies/.gitkeep
!data/torrents/tv/.gitkeep
!data/torrents/music/.gitkeep
data/usenet/**
!data/usenet/**/
!data/usenet/.gitkeep
!data/usenet/movies/.gitkeep
!data/usenet/music/.gitkeep
!data/usenet/tv/.gitkeep

# ENV
.env